{% extends "base.html" %}

{% block title %}Blood Diagnosis{% endblock %}

{% block page_content %}
<div class = 'Information'>
  <h1>More information about the system:</h1>
  <br>
  <p>This is an Expert System for Differential Diagnosis of Blood Diseases. It is based on data found from medical textbooks and recent papers.
  </p>
  <br>
  <p>Many blood diseases can be detected by Blood Routine, and based on the data, the possibility can be calculated. With this system, you
    don't need to ask the doctor after your physical examination for blood routine, what you need to do is simply type the result into
    the system!
  </p>
  <br>
  <p>But anaway this is a project for Artificial Intelligence class, so don't take the result seriously.
  </p>
  <br>
  <br>
  <p>Reference:</p>
  <p>(1)王鸿利，尚红，王兰兰.《实验诊断学》第二版 人民卫生出版社 2010.7</p>
  <p>(2)陈运贞，罗永艾.《内科鉴别诊断》第二版 上海科学技术出版社 2008.7</p>
  <p>(3)孙永谦. 血液检验在贫血鉴别诊断中的作用 基层医学论坛 2014.2 18卷5期</p>
  <p>(4)陈和平，陈东，李明，龚彩平，荣卡彬. 缺铁性贫血和地中海贫血在血常规中的鉴别诊断 中国实验诊断学 2006.1 10卷1期</p>
  <p>(5)桂艳丽. 红细胞体积分布宽度参数在缺铁性贫血中的实验观察 江西医学检验 2001.8 19卷4期</p>
  <p>(6)郑妍. 血液检验在贫血诊断与鉴别诊断中的价值分析 中外医学研究 2015.2 13卷6期</p>
  <p>(7)赵丽,毛志刚,江虹,秦莉,黄春妍,谭斌. MCV/RDW 结合网织红细胞参数在多种贫血中的鉴别诊断作用 中国实验血液学杂志 2015; 23( 6) : 1662 - 1666</p>
</div>
{% endblock %}
