{% extends "base.html" %}

{% block title %}Blood Diagnosis{% endblock %}

{% block page_content %}
<div class = 'Information'>
  <h1>More information about the system:</h1>
  <br>
  <p>This is an Expert System for Differential Diagnosis of Blood Diseases. It is based on data found from medical textbooks and recent papers.
  </p>
  <br>
  <p>Many blood diseases can be detected by Blood Routine, and based on the data, the possibility can be calculated. With this system, you
    don't need to ask the doctor after your physical examination for blood routine, what you need to do is simply type the result into
    the system!
  </p>
  <br>
  <p>But anaway this is a project for Artificial Intelligence class, so don't take the result seriously.
  </p>
  <br>
  <br>
  <p>Reference:</p>
  <br>
  <p>Contact me:</p>
  <p>jrgao14@fudan.edu.cn</p>
</div>
{% endblock %}
